<style>
  .native-js {
    visibility: hidden;
    opacity: 0;
    transition: all .25s ease-in-out;
  }

  .native-js[data-state=visible] {
    visibility: visible;
    opacity: 1;
  }

  .native-fixed-footer .native-flex {
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 -1px 2px hsla(0, 0%, 0%, .05);
  }

  .native-fixed-footer .native-main {
    display: flex;
    border: 0;
    margin: 0 auto;
    padding: 14px 20px;
    max-width: 800px;
    text-decoration: none;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .native-fixed-footer .native-logo {
    margin-right: 10px;
    width: auto;
    height: 40px;
  }

  .native-fixed-footer .native-company {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10px;
  }

  .native-fixed-footer .native-desc {
    font-size: 14px;
  }

  .native-fixed-footer .native-cta {
    margin-left: 20px;
    padding: 6px 8px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .5px;
    font-weight: 400;
    font-size: 12px;
  }
</style>
<div class="native-js native-fixed-footer">
  <style>
    .#native_index# { background-color: #native_bg_color#; }
    .#native_index# a { color: #native_color# !important; }
    .#native_index# a .native-cta {
      background: #native_cta_bg_color#;
      color: #native_cta_color# !important;
    }
  </style>
  <div class="native-flex #native_index#">
    <a href="#native_link#" class="native-main">
      <img class="native-logo" src="#native_logo#">
      <div>
        <div class="native-company">Sponsored by #native_company#</div>
        <div class="native-desc">#native_desc#</div>
      </div>
      <div class="native-cta" href="#native_link#">#native_cta#</div>
    </a>
  </div>
</div>
<script src="/scripts/bsa.js"></script>
<script>
  _native.init("CKYIT2QJ", {
    targetClass: 'native-js'
  });
</script>