<!-- <div class="w3-panel w3-pale-blue w3-leftbar w3-border-blue notice">
  <p>
    <img src="https://labstack.com/images/labstack-logo.svg" width=100> API
    ✧
    <a href="https://labstack.com/api/chart">Generate charts from data in the URL</a>
    <a href="https://labstack.com/api/email">Verify email address for syntax error, disposable mail server and valid SMTP mailbox</a>
    <a href="https://labstack.com/api/geocode">Find IP to location, location to latitude-longitude and reverse</a>
    <a href="https://labstack.com/api/image/watermark">Watermark images</a>
    <a href="https://labstack.com/api/pdf/compress">Reduce the size PDF files</a>
    <a href="https://labstack.com/api/pdf/image">Convert or extract PDF into images</a>
    <a href="https://labstack.com/api/webpage/pdf">Generate high quality PDF from a webpage</a>
    ✧
    <span>
      SDK available in <a href="https://github.com/labstack/labstack-go">Go</a>, <a href="https://github.com/labstack/labstack-java">Java</a>, <a href="https://github.com/labstack/labstack-node">Node</a> and <a href="https://github.com/labstack/labstack-python">Python</a>
    </span>
  </p>
</div>

<script>
  var elements = document.querySelectorAll('.notice p > a');
  var x = Math.floor(Math.random() * elements.length)

  for (var i = 0; i < elements.length; i++) {
    var e = elements[i];

    if (i == x) {
      e.style.display = 'inline';
    } else {
      e.style.display = 'none';
    }
  }
</script> -->